
@{
    ViewBag.Title = "SelectedMission";
}

<h2>SelectedMission</h2>

<br />

@Html.ActionLink("Mission FAQ's", "Index", "MissionQuestions")

<div class="row">
    <div class="col-md-6">
        <br />
        <br />
        <b style="font-size:15px;">Mission ID: </b> <i style="font-size:15px;">
            <i style="font-size:15px;">@ViewBag.Mission.missionID</i>
            <br />
            <b style="font-size:15px;">Mission Name: </b><i style="font-size:15px;">@ViewBag.Mission.missionName</i>
            <br />
            <b style="font-size:15px;">Mission type: </b><i style="font-size:15px;">@ViewBag.Mission.missionPresident</i>
            <br />
            <b style="font-size:15px;">Monthly price: </b><i style="font-size:15px;">@ViewBag.Mission.missionAddress</i>
            <br />
            <b style="font-size:15px;">Monthly price: </b><i style="font-size:15px;">@ViewBag.Mission.language</i>
            <br />
            <b style="font-size:15px;">Dominant Religion: </b><i style="font-size:15px;">@ViewBag.Mission.dominantReligion</i>
            <br />
            <b style="font-size:15px;">Climate: </b><i style="font-size:15px;">@ViewBag.Mission.climate</i>
    </div>

</div>


